!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title Real-Time with Node
    script(src='socket.io/socket.io.js')
    link(rel='stylesheet', href='/css/app.mobile.css', type='test/css')
    link(href='http://fonts.googleapis.com/css?family=Six+Caps', rel='stylesheet', type='text/css')
    script(src='/js/app.mobile.js', type='text/javascript')
    script(type='text/javascript')
      $(function () {
      Map.Controller.init();
      });
    style
      #fire{background-image:url(images/fire-mobile.png);background-position: -3px,-2px;} 
      #deaths{background-image:url(images/deaths-mobile.png);background-position: -3px,-2px;}
      #road-damage{background-image:url(images/road-damage-mobile.png);background-position: -3px,-2px;}
      #road-impassable{background-image:url(images/road-impassable-mobile.png);background-position: -3px,-2px;}
      #damaged-building{background-image:url(images/damaged-building-mobile.png);background-position: -3px,-2px;}
      #destroyed-building{background-image:url(images/destroyed-building-mobile.png);background-position: -3px,-2px;}
      #gps{background-image:url(images/gps-mobile.png);background-position: -3px,-2px;} 
  body
    #header
      h1#app-title Field Damage Assessment
    #map
    #path-menu
      input#menu.menuControl(type='checkbox')
      //
         Hidden 
      label(for='menu')
        .circle-container
          button.circle &#10006;
      ul.items
        li(id='fire',class='tool',data-type='fire') 
        li(id='deaths',class='tool',data-type='deaths') 
        li(id='road-damage',class='tool',data-type='road-damage')  
        li(id='road-impassable',class='tool',data-type='road-impassable')  
        li(id='damaged-building',class='tool',data-type='damaged-building')  
        li(id='destroyed-building',class='tool',data-type='destroyed-building') 
        li(id='gps',class='tool')  
        
